{% extends 'portal/panel.html'%}{% load static %} {% load widget_tweaks %}
{% block title %}Gestión de Reservas | Panel Car Rental{% endblock %}

{% block menu %}
    <a href="{% url 'panel_view' %}" class="br-menu-link">
    <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
        <span class="menu-item-label">Panel Principal</span>
    </div><!-- menu-item -->
    </a><!-- br-menu-link -->        
    <a href="#" class="br-menu-link active show-sub">
    <div class="br-menu-item">
        <i class="menu-item-icon fas fa-car tx-16"></i>
        <span class="menu-item-label">Gestión de Reservas</span>
        <i class="menu-item-arrow fas fa-angle-down"></i>
    </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <ul class="br-menu-sub nav flex-column">
    <li class="nav-item"><a href="#" class="nav-link active">Ver Reservas</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Nueva Reserva</a></li>
    </ul>     
    
    
{% endblock %}
{% block breadcrumb %}
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="{% url 'panel_view' %}">Panel principal</a>
        <a class="breadcrumb-item active" href="#">Terceros</a>
    </nav>
{% endblock %}
{% block titulo%}
	Gestión de Reservas | Panel Car Rental
{% endblock %}

{% block contenido%}

    <div class="br-section-wrapper">
    
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="{% url 'new_booking' %}"><button class="btn btn-block btn-success"><i class="fas fa-plus"></i> Nueva Reserva</button></a>
            </div>
        </div>
    
        <div class="row mg-t-50">
            <div class="col-md-12">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Auto</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                       
                        <tr>
                            <td>

                                {% if booking.state == 1 %}
                                    Activa
                                    {% else %}
                                    Terminada
                                {% endif %}
                            
                            </td>
                            <td>
                            {{booking.car}}                             
                              
                            </td>
                            <td>
                              {{booking.start_date}}  
                            </td>
                            <td>
                              {{booking.end_date}}  
                            </td>
                            <td>
                                <a href="#">
                                    <button class="btn btn-info">
                                        <i class="fas fa-search"></i> Detalles
                                    </button>
                                </a>                     
                                
                            </td>
                        </tr> 
                        {% endfor %} 
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Estado</th>
                            <th>Auto</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Fin</th>
                            <th>Opciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}  
	
{% endblock %}