<!DOCTYPE html>{% load static %}{% load widget_tweaks %}
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inicio de sesión | Car Rental</title>

    <!-- vendor css -->
    <script src="https://kit.fontawesome.com/9b2eefdfe3.js" crossorigin="anonymous"></script>

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{% static "panel/css/bracket.css" %}">
  </head>

  <body>

    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">

      <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-azul rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><img src="{% static "panel/img/logo.png" %}" alt="" class="logo" style="height:100px;" /></div> 
        <div class="tx-center mg-b-60 tx-blanco">Car Rental</div>
        <h5 class="text-center tx-blanco"><strong>Inicio de sesión</strong></h5>
        <br>
        <form  method="POST">{% csrf_token %}
        {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                      <div class="alert alert-danger text-center">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-danger text-center">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
            {% endif %}
        <div class="form-group">
            {% render_field form.email class+="form-control" placeholder="Ingresa tu email" required=""%}
        <div class="form-group">
            {% render_field form.password class+="form-control" placeholder="Ingresa tu contraseña" required=""%}          
        </div><!-- form-group -->
        <button type="submit" class="btn btn-success btn-block">Entrar <i class="fas fa-sign-in-alt tx-blanco"></i></button>
      </div><!-- login-wrapper -->
      </form>
    </div><!-- d-flex -->

    <script href="{% static "panel/lib/jquery/jquery.js" %}"></script>
    <script href="{% static "panel/lib/popper.js/popper.js" %}"></script>
    <script href="{% static "panel/lib/bootstrap/bootstrap.js" %}"></script>

  </body>
</html>
