{% extends 'portal/panel.html'%}{% load static %} {% load widget_tweaks %}
{% block title %}Nueva Reserva | Panel Car Rental{% endblock %}

{% block menu %}
    <a href="{% url 'panel_view' %}" class="br-menu-link">
    <div class="br-menu-item">
        <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
        <span class="menu-item-label">Panel Principal</span>
    </div><!-- menu-item -->
    </a><!-- br-menu-link -->        
    <a href="#" class="br-menu-link active show-sub">
    <div class="br-menu-item">
        <i class="menu-item-icon fas fa-car tx-16"></i>
        <span class="menu-item-label">Gestión de Reservas</span>
        <i class="menu-item-arrow fas fa-angle-down"></i>
    </div><!-- menu-item -->
    </a><!-- br-menu-link -->
    <ul class="br-menu-sub nav flex-column">
    <li class="nav-item"><a href="#" class="nav-link">Ver Reservas</a></li>
    <li class="nav-item"><a href="#" class="nav-link active">Nueva Reserva</a></li>
    </ul>     
    
    
{% endblock %}
{% block breadcrumb %}
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="{% url 'panel_view' %}">Panel principal</a>
        <a class="breadcrumb-item active" href="#">Terceros</a>
    </nav>
{% endblock %}
{% block titulo%}
	Nueva Reserva | Panel Car Rental
{% endblock %}

{% block contenido%}

    <div class="br-section-wrapper">

        <form method="post">{% csrf_token %}
                <div class="row ">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-control-label bd-t-0-force">Seleccione la fecha de recogida: <span class="tx-danger">*</span></label>
                            {% render_field form.start_date class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-control-label bd-t-0-force">Seleccione la fecha de entrega: <span class="tx-danger">*</span></label>
                            {% render_field form.end_date class+="form-control" %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="form-control-label bd-t-0-force">Seleccione el tipo de coche que desea: <span class="tx-danger">*</span></label>
                            <select name="type" id="car_type" class="form-control">
                                <option value="Descapotable">Descapotable</option>
                                <option value="Cupé">Cupé</option>
                                <option value="Hatchback">Hatchback</option>
                                <option value="Roadster">Roadster</option>
                                <option value="Familiar">Familiar</option>
                                <option value="Crossover">Crossover</option>
                                <option value="Deportivo">Deportivo</option>
                                <option value="Pick-up">Pick-up</option>
                            </select>
                        </div>
                    </div>

                    
                </div>                
                <div class="form-group">
                    <button class="btn btn-info btn-block"><i class="fas fa-search"></i> Consultar</button>
                </div>
                
            </form>           
        
    </div>

    <div class="card pd-20 pd-xs-30 shadow-base bd-0 mg-t-30">
        <div class="row">

            <div class="col-md-12">
                <h6 class="tx-gray-800 tx-uppercase tx-semibold tx-13"><i class="fas fa-car"></i> Autos disponibles</h6>

                
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card bd-0">
                    <img class="card-img-top img-fluid" src="/static/panel/img/img12.jpg" alt="Image">
                    <div class="card-body rounded-bottom bg-info tx-white">
                    <p class="card-text">
                        <span class="tx-bold">Volkswagen Golf Trendline</span> <br>
                        <div class="row">
                            <div class="col-md-6">
                                <span class="tx-bold">Tipo/Tamaño: Económico</span>
                            </div>
                            <div class="col-md-6">
                                <span class="tx-bold">Número de puertas: 2</span>
                            </div>
                        </div>
                        <div class="row mg-t-10">
                            <div class="col-md-6">
                                <span class="tx-bold">Diesel: No</span>
                            </div>
                            <div class="col-md-6">
                                <span class="tx-bold"><i class="fas fa-users"></i> Personas: 5</span>
                            </div>
                        </div>                     
                    </p>
                    </div>
                    <div class="card-footer rounded-bottom text-center">
                        <button class="btn btn-success">Rentar este <i class="fas fa-check"></i></button>
                    </div>
              </div>
            </div>
            
        </div>
    </div>





    
{% endblock %}

{% block scripts %}  
	
{% endblock %}