<!DOCTYPE html>{% load static %}{% load widget_tweaks %}
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block title %}
      Panel Principal | Car Rental
      {% endblock %}
    </title>
    {% include "portal/parts/head.html" %}
    {{ form.media }}
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{% static "panel/css/bracket.css" %}">
    <link href="{% static "fontawesome/css/all.css" %}" rel="stylesheet">
  </head>

    <body>
    
        <!-- ########## START: LEFT PANEL ########## -->
        <div class="br-logo"><a href="{% url 'panel_view' %}"><img src="{% static "panel/img/logo.png" %}" alt="" class="logo" style="height:50px;" /></a></div>
        <div class="br-sideleft overflow-y-auto">
        <label class="sidebar-label pd-x-15 mg-t-20">Menú principal</label>
        <div class="br-sideleft-menu">
            {% block menu %}
            <a href="{% url 'panel_view' %}" class="br-menu-link">
            <div class="br-menu-item">
                <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                <span class="menu-item-label">Panel Principal</span>
            </div><!-- menu-item -->
            </a><!-- br-menu-link -->        
            <a href="#" class="br-menu-link">
            <div class="br-menu-item">
                <i class="menu-item-icon fas fa-car tx-16"></i>
                <span class="menu-item-label">Gestión de Reservas</span>
                <i class="menu-item-arrow fas fa-angle-down"></i>
            </div><!-- menu-item -->
            </a><!-- br-menu-link -->
            <ul class="br-menu-sub nav flex-column">
            <li class="nav-item"><a href="{% url 'booking_list' %}" class="nav-link">Ver Reservas</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Nueva Reserva</a></li>
            </ul>     
            
            
            {% endblock %}
        </div><!-- br-sideleft-menu -->

        <br>
        </div><!-- br-sideleft -->
        <!-- ########## END: LEFT PANEL ########## -->
        

        <!-- ########## START: HEAD PANEL ########## -->
        <div class="br-header">
        <div class="br-header-left">
            <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
            <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
            
        </div><!-- br-header-left -->
        <div class="br-header-right">
            <nav class="nav">
            
            <div class="dropdown">
                <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
                <span class="logged-name hidden-md-down">{{request.user.username}}</span>
                    <img src="//via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
                
                <span class="square-10 bg-success"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-header wd-200">
                <ul class="list-unstyled user-profile-nav">                        
                    <li><a href="{% url 'logout_view' %}"><i class="icon ion-power"></i> Cerrar Sesión</a></li>
                </ul>
                </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
            </nav>
        </div><!-- br-header-right -->
        </div><!-- br-header -->
        <!-- ########## END: HEAD PANEL ########## -->
        

        <!-- ########## START: MAIN PANEL ########## -->
        <div class="br-mainpanel">
        <div class="br-pageheader pd-y-15 pd-l-20">
            {% block breadcrumb %}
            <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item active" href="{% url 'panel_view' %}">Panel principal /</a>
            </nav>
            {% endblock %}
        </div><!-- br-pageheader -->

        <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
            <h4 class="tx-gray-800 mg-b-5">
            {% block titulo%}
        Panel Principal Car Rental
            {% endblock %}
        </h4>
            <p class="mg-b-0">
            {% block subtitulo%}
            Bienvenid@ al panel principal de Car Rental.
            {% endblock %}
            </p>
        </div>
        
        <div class="br-pagebody">
            {% block contenido%} 
            {% endblock %}      

        </div><!-- br-pagebody -->
        <footer class="br-footer">
            <div class="footer-left">
            <div class="mg-b-2">Car Rental &copy; {% now "Y" %}. Todos los derechos reservados.</div>
            </div>
            <div class="footer-right d-flex align-items-center">
            
            </div>
        </footer>

        </div><!-- br-mainpanel -->
        <!-- ########## END: MAIN PANEL ########## --> 
        <script src="{% static "panel/lib/popper.js/popper.js" %}"></script>
        <script src="{% static "panel/lib/bootstrap/bootstrap.js" %}"></script>
        <script src="{% static "panel/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js" %}"></script>
        <script src="{% static "panel/lib/datatables/jquery.dataTables.js" %}"></script>
        <script src="{% static "panel/lib/datatables-responsive/dataTables.responsive.js" %}"></script>
        <script src="{% static "panel/lib/moment/moment.js" %}"></script>
        <script src="{% static "panel/lib/jquery-ui/jquery-ui.js" %}"></script>
        <script src="{% static "panel/lib/jquery-switchbutton/jquery.switchButton.js" %}"></script>
        <script src="{% static "panel/lib/select2/js/select2.min.js" %}"></script>
        <script src="{% static "panel/lib/peity/jquery.peity.js" %}"></script>
        <script src="{% static "panel/js/bracket.js" %}"></script>
        <script src="{% static "panel/js/datepicker-es.js" %}"></script> 
        {% block scripts %}  
        
        {% endblock %}
    </body>
</html>
