    {% load static %}
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
        <link href="{% static "panel/lib/Ionicons/css/ionicons.css" %}" rel="stylesheet">
        <link href="{% static "panel/lib/perfect-scrollbar/css/perfect-scrollbar.css" %}" rel="stylesheet">
        <link href="{% static "panel/lib/jquery-switchbutton/jquery.switchButton.css" %}" rel="stylesheet">
        <link href="{% static "panel/lib/datatables/jquery.dataTables.css" %}" rel="stylesheet">
        <link href="{% static "panel/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" %}"  rel="stylesheet">
        <link href="{% static "panel/lib/select2/css/select2.min.css" %}" rel="stylesheet">
        <link href="{% static "panel/lib/jquery-switchbutton/jquery.switchButton.css" %}" rel="stylesheet">
    
    <link href='//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Hind:300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text' rel='stylesheet' type='text/css'>

    <script src="https://kit.fontawesome.com/9b2eefdfe3.js" crossorigin="anonymous"></script>

    <script src="{% static "panel/lib/jquery/jquery.js" %}"></script>